h3, p{
  font-family: 'Space Grotesk';
}

h3{
  font-size: 32px;
  margin-top: 10%;
}

.media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
  }
  
.media-scroller--with-groups {
    grid-auto-columns: 90%;
}
  
  .media-element {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content;
    padding: var(--_spacer);
    background: #f7f7f7;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
  }
  
  .media-element > img {
    inline-size: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .snaps-inline > * {
    scroll-snap-align: start;
  }
  
  /* start slider */
  
  .slider-container{
    width: 100%;
    height: 400px;
    position: relative;
    top: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: -1px 5px 15px black;
  }
  
  /*Area of images*/
  .slider-wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
  }
  
  .slider-img{
    width: 100%;
  }
  /*Animation activated by keyframes*/
  @keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
  }
  /* finish slider */
  